atomicwrites
attrs
backcall
bleach
decorator
defusedxml
entrypoints
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
mistune
more-itertools
nbconvert
nbformat
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pluggy
prometheus-client
prompt-toolkit
ptyprocess
py
Pygments
pyparsing
pyrsistent
pytest
python-dateutil
pytz
pyzmq
qtconsole
Send2Trash
six
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
zipp
